
body {
    background-color: black;
}

.cuerpo {
    background-color: white;
    display: flexblock;
    width: 400px;
    height: 550px;
    margin: auto;
}
.encabezado{
    display: flex;
    padding: 5px;
    width: 400px;
    align-content:  center;
    margin: auto;
    justify-content: space-between;
}

.iconohtml{
    font-size: 50px;
    display: flex;
    align-items: center;
}

.textoencabezado{
    padding: 0px;
    margin: 0px;
    justify-content: flex-start;
    width: 100%;
    padding-left: 10px;
    
}

h3, p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

.iconoelipsis{
    padding-right: 10px;
    font-size: 15px;
    align-items: center;
    display: flex;
}


img{
    width: 400px;
    height: 280px;
}
.accion{
    padding: 0px;
    margin: 5px 5px 20px 5px;
    display: flex;
    justify-content: space-between;

}

i{
    font-size: 30px;
}
.nube{
    align-items: center;
    display: flex;
    width: 10%;
    padding-right: 5px;
    padding-left: 5px;
}
.enviar{
    align-items: center;
    display: flex;
    width: 100%;
}

.guardar{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding-right: 10px;

}
.descripcion{
    padding: 0px;
    margin: 5px 5px 20px 5px;

}
span{
    font-weight: 900;
}
.comentario{
    padding: 0px;
    margin: 5px;
}